#box{
    border: 2px rgb(232, 225, 225) solid;
    width: 200px ;
    height: 400px;
    margin: 5px;
    border-radius: 10px;

}

#display{
    margin: 10px;
    font-size: 14px;
}

.button{
    width: 40px;
    height:40px;
    margin: 3px;
}
.button_tag{
    display: flex;
justify-content: center;
flex-wrap: wrap;
}